/*** FONT ****/
@import 'fonts.css';
* {
	margin: 0;
	padding: 0;
    font-family: "museo_sans100";
}
.clear {
	clear: both;
	display: block;
	width: 0;
	height: 0;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 14pt;
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	/*background: #299d56;*/
    /*background: url('../img/background_7awli_zwin.png') no-repeat center center fixed;*/
    background: url('../img/background_7awli_zwin.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wrapper {
	width: 100%;
	min-height: 100%;
	margin:0 auto -6.1em;
}
#header, #main, #footer>div {
	width: 82%;
	margin: 0 auto;
}
#header {
	padding-top: 1em;
	border-bottom: 1px solid #95e3a5;
	width: 79%;
}
div#logo {
	float: left;
}
ul#top-menu {
	float: right;
	margin-top: 63px;
}
ul#top-menu li {
	display: inline-block;
	margin: 0 12px -2px 0px;
}
ul#top-menu li a#social {
	border: 1px solid;
	position: relative;
	top: -1px;
	left: 12px;
	padding: 0px;
	margin-left: 12px;
	color:#95e3a5;
}
ul#top-menu li a {
	display: block;
	padding: 5px 15px;
	color:#ddb852;
	font-family: "museo_sans500";
}
ul#top-menu li a:hover {
	border-bottom: 3px solid #40c666;
	color:white;
	text-decoration: none;
}
ul#top-menu li a.active {
	border-bottom: 3px solid #40c666;
	color:white;
}
div#main {
	margin-top: 1em;
    position: relative;
}
div#content {
    max-width: 40%;
}
div.index-block {
	margin: 1em 0;
}
div.index-block h2 {
	font-size: 2.5em;
    line-height: 2.55em;
    color: #DBB852;
    font-weight: 200;
}
div.index-block h2 {
    line-height: 1.8em;
}
div#mobile {
    width: 540px;
    height: 290px;
    display: block;
    position: absolute;
    top: 70px;
    right: -50px;
    background: url('../img/smartphone_7awli.png') no-repeat left top;
}
#footer {
	background: #299d56;
	min-height: 6em;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    border-top: 2px solid #2cb14e;
    text-align: center;
}
.push {
	height: 6em;
}
#footer>div {
	line-height: 6em;
}
a.footer-button {
	display: inline-block;
	padding: 11px 21px;
	margin-left: 12px;
	/*background: #ddb852;*/
	-webkit-border-radius: 5px; 
  	-moz-border-radius: 5px; 
    border-radius: 5px;
    line-height: 1em;
    color:#FFF;
    font-weight: bold;
}
a.footer-button:hover{
	text-decoration: none;
}
@media screen and (max-width: 959px) {
    #footer>div {
        line-height: 3em;
    }
    div#mobile {
        position: relative;
        top: 0;
        right: 0;
    }
    div#content {
        max-width: 100%;
    }
}
@media screen and (min-width: 1100px) {
    div#mobile {
        right: 15px;
    }
}